/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth !important;
    font-family: 'Lora', serif !important;
}

/* Common */
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}

/* CSS */
#main{

}

#header{
    background: linear-gradient(to bottom, #344CC7 0%, #FF59D8 100%);
    background: -moz-linear-gradient(to bottom, #344CC7 0%, #FF59D8 100%);
    background: -o-linear-gradient(to bottom, #344CC7 0%, #FF59D8 100%);
    background: -ms-linear-gradient(to bottom, #344CC7 0%, #FF59D8 100%);
    background: -webkit-linear-gradient(top, #344CC7 0%, #FF59D8 100%);
    height: 46px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    animation: keyFrame_shadow_in 5s infinite;
}
#nav{
    /* display: inline-block; */
    display: flex;
    justify-content: center;
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li > a{
    color: #fff;
    display: inline;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    color: #fff;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#nav li:hover .subnav{
    display: block !important;
}
#nav .subnav li:hover a,
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
    display: block;
}
#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 8px #888888;
}
#nav .subnav a{
    padding: 0 12px;
    color:#000;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 18px;
}



#slider{
    position: relative;
    /* background: url("../Img/Jhin.jpg") top center / cover no-repeat; */
    background-color: #000;
    max-height: 100vh;
    margin-top: 46px;
    padding-top: 50%;
    image-rendering: auto;
}
#slider .text-content{
    position: absolute;
    bottom: 50%;
    color: rgb(215, 255, 224);
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
}
#slider .text-heading{
    font-weight: 600;
    font-size: 30px;
    color: #ffffcc;
    letter-spacing: 5px;
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff, 
                 0 0 20px rgb(0, 240, 0), 
                 0 0 30px rgb(2, 240, 2), 
                 0 0 40px rgb(9, 223, 9), 
                 0 0 55px rgb(0, 241, 0), 
                 0 0 70px green;
    
}
#slider .text-description{
    font-size: 20px;
    margin-top: 13px;
    letter-spacing: 3px;
    font-weight: 500;
    font-style: italic;
}

#myVideo {
    position: absolute;
    opacity: 0.8;
    right: 0;
    bottom: 0;
    width: 100vw;
    /* height: 100vh; */
}

#content{
    position: relative;
    color: rgb(138, 235, 125);
    /* background-color: #d646b5; */
}
#content .content-section .header{
    font-size: 28px;
    font-weight: 500;
    padding: 46px;
    line-height: 50px;
}


#footer{
    position: relative;
    color: #fff;
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff, 
                 0 0 20px rgb(0, 240, 0), 
                 0 0 30px rgb(2, 240, 2), 
                 0 0 40px rgb(9, 223, 9), 
                 0 0 55px rgb(0, 241, 0), 
                 0 0 70px green;
    background-color: #000;
}


/* Decoration */
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}
.spacer{
    aspect-ratio: 960/540;
    width: 100%;
    min-height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}
.layer1{
    background-image: url('./layered-waves-haikei.svg');
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #fad083 100%);
}


.custom-shape-divider-bottom-1643086459 {
    position: absolute;
    /* bottom: 0; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    /* transform: rotate(180deg); */
}

.custom-shape-divider-bottom-1643086459 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 164px;
}

/* .custom-shape-divider-bottom-1643086459 .shape-fill {
    
    
    fill: #d646b5;
    fill: #457ee7;
    
} */
/* .scale-up-center {
	-webkit-animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
} */

.skill-card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.container {
    width: 100%;
    background-color: #ddd;
}
.block-section{
    width: 100%;
    
}
.skills {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}
  
  .html {width: 90%; background-color: #04AA6D;}
  .css {width: 80%; background-color: #2196F3;}
  .js {width: 65%; background-color: #f44336;}
  .php {width: 60%; background-color: #808080;}



/* Key frames for animation */
@keyframes keyFrame_shadow_in {
    0% {box-shadow: 0 -10px 40px rgb(206, 34, 221) inset;}
    10% {box-shadow: 0 -10px 40px rgb(193, 55, 206) inset;}
    30% {box-shadow: 0 -10px 30px rgb(234, 1, 255) inset;}
    50% {box-shadow: 0 -10px 20px rgb(162, 13, 175) inset;}
    70% {box-shadow: 0 -10px 30px rgb(206, 34, 221) inset;}
    100% {box-shadow: 0 -10px 40px rgb(206, 34, 221) inset;}
}
@keyframes keyFrame_shadow_out {
    0% {box-shadow: 0 -10px 40px rgb(206, 34, 221) ;}
    10% {box-shadow: 0 -10px 40px rgb(193, 55, 206) ;}
    30% {box-shadow: 0 -10px 30px rgb(234, 1, 255) ;}
    50% {box-shadow: 0 -10px 20px rgb(162, 13, 175) ;}
    70% {box-shadow: 0 -10px 30px rgb(206, 34, 221) ;}
    100% {box-shadow: 0 -10px 40px rgb(206, 34, 221) ;}
}
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px rgb(18, 252, 30), 0 0 30px rgb(11, 184, 11), 0 0 40px rgb(11, 184, 11), 0 0 50px rgb(11, 184, 11), 0 0 60px rgb(11, 184, 11), 0 0 70px rgb(11, 184, 11);
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px rgb(0, 255, 0), 0 0 40px rgb(0, 241, 0), 0 0 50px rgb(0, 241, 0), 0 0 60px rgb(0, 241, 0), 0 0 70px rgb(0, 241, 0), 0 0 80px rgb(0, 241, 0);
    }
}