/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth !important;
    font-family: Arial, Helvetica, sans-serif; 
}

/* Common */
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}

/* CSS */
#main{

}

#header{
    background: linear-gradient(to bottom, #FF59D8 0%, #344CC7 100%);
    background: -moz-linear-gradient(to bottom, #FF59D8 0%, #344CC7 100%);
    background: -o-linear-gradient(to bottom, #FF59D8 0%, #344CC7 100%);
    background: -ms-linear-gradient(to bottom, #FF59D8 0%, #344CC7 100%);
    background: -webkit-linear-gradient(top, #FF59D8 0%, #344CC7 100%);
    height: 46px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li > a{
    color: #fff;
    display: inline;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    color: #fff;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#nav li:hover .subnav{
    display: block !important;
}
#nav .subnav li:hover a,
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
    display: block;
}
#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 8px #888888;
}
#nav .subnav a{
    padding: 0 12px;
    color:#000;
    line-height: 46px;
}
#nav .nav-arrow-down{
    font-size: 18px;
}



.content{
    background-color: #000;
    min-height: 500px;
}
