*{
    padding: 0;
    margin: 0;
    font-family: Arial, Tahoma;
    font-size: 12px;
}

#main{
    width: 1000px;
    clear: both;
    margin: 0 auto;
}
#head{
    height: 100px;
    background-color: #f5f5f5;
    border: 1px solid #cdcdcd;
    margin-bottom: 5px;
}
#head-link{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #cdcdcd;
    background-color: #f5f5f5;
    margin-bottom: 5px;
    clear: both;
}
#left{
    width: 150px;
    min-height: 400px;
    border: 1px solid #cdcdcd;
    background-color: #0ff;
    float: left;
    margin-bottom: 5px;
}
#content{
    width: 600px;
    min-height: 400px;
    border: 1px solid #cdcdcd;
    float: left;
    margin: 0 5px 5px 5px;
}
#right{
    width: 234px;
    min-height: 400px;
    border: 1px solid #cdcdcd;
    float: right;
    margin-bottom: 5px;
    background-color: #b6ff00;
}
#footer{
    height: 50px;
    clear: both;
    border: 1px solid #cdcdcd;
    background-color: #cdcdcd;
}