/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/* 
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông ,...)
*/
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;
}



#main{

}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    animation: keyFrame_shadow_in 5s infinite;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;  
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    display: inline;
    text-transform: uppercase;
}

#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
    display: block;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 8px #888888;
    animation: keyFrame_shadow_out 5s infinite;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 10px;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover{
    background-color: #f44336;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider{
    /* min-height: 500px; */
    position: relative;
    /* background-color: #333; */
    background: url("/w3_band/assets/img/pan2.png");
    background: url("../img/Pantheon.png") top center / cover no-repeat;
    box-shadow: 0 -10px 20px rgb(206, 34, 221);
    margin-top: 46px;
    padding-top: 50%;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}

#content{
    height: 1000px;
}

#content .content-section{
    width: 800px;
    padding: 64px 0 115px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
#content .section-slogan{
    font-size: 15px;
    margin-top: 25px;
    opacity: 0.6;
    text-align: center;
    font-style: italic;
}
#content .about{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
}
#content .member-item{
    float: left;
    text-align: center;
    /* padding: 12px 16px; */
}
#content .member-list{
   display: flex;
   flex-basis: 30%;
   justify-content: space-around;
   margin-top: 46px;
}
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top:  15px;
    width: 153.5px;
    image-rendering: auto;
    border-radius: 4px;
}

/* Tour section */
.tour-section{
    background-color: #000;
}
.ticket-list{
    background-color: #fff;
    margin-top: 40px;
}
.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}
.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
    
}
/* Places */
.places-list{
    margin: 32px -8px 48px;
}
.place-item{
    float: left;
    width: calc(100%/3);
    padding: 0 8px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}
.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}
.place-buy-btn:hover{
    background-color: #ccc;
}
/* Footer section */
#footer{
    
}


  
@keyframes keyFrame_shadow_in {
    0% {box-shadow: 0 -10px 40px rgb(206, 34, 221) inset;}
    10% {box-shadow: 0 -10px 40px rgb(193, 55, 206) inset;}
    30% {box-shadow: 0 -10px 30px rgb(234, 1, 255) inset;}
    50% {box-shadow: 0 -10px 20px rgb(162, 13, 175) inset;}
    70% {box-shadow: 0 -10px 30px rgb(206, 34, 221) inset;}
    100% {box-shadow: 0 -10px 40px rgb(206, 34, 221) inset;}
}
@keyframes keyFrame_shadow_out {
    0% {box-shadow: 0 -10px 40px rgb(206, 34, 221) ;}
    10% {box-shadow: 0 -10px 40px rgb(193, 55, 206) ;}
    30% {box-shadow: 0 -10px 30px rgb(234, 1, 255) ;}
    50% {box-shadow: 0 -10px 20px rgb(162, 13, 175) ;}
    70% {box-shadow: 0 -10px 30px rgb(206, 34, 221) ;}
    100% {box-shadow: 0 -10px 40px rgb(206, 34, 221) ;}
}